.git
.gitignore
.dvc
.env
venv
ENV
env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

data/raw
data/interim
data/external
data/reports

mlartifacts
mlruns
mlflow.db
logs
archived

guidelines
*.zip
*.pdf

monitoring/alertmanager.yml
dvc.lock
dvc.zip
