# ── DagsHub ───────────────────────────────────
DAGSHUB_USERNAME=XXXXXXXXXXXXXXXX
DAGSHUB_PASSWORD=XXXXXXXXXXXXXXXX

# if you be unable to push to dagshub > {unset GIT_ASKPASS && github push dagshub master} then enter below credentials

# ── MLflow (DagsHub remote) ───────────────────
# MLFLOW_TRACKING_URI=http://127.0.0.1:5001
MLFLOW_TRACKING_URI=https://dagshub.com/da25s003/E2E_Project_DA5402.mlflow
MLFLOW_TRACKING_USERNAME=XXXXXXXXXXXXXXXX
MLFLOW_TRACKING_PASSWORD=XXXXXXXXXXXXXXXX

# ── Model (CPU) ───────────────────────────────
MODEL_PATH=outputs/models/best_model_cpu.pth
MODEL_NAME=efficientnet_b3
IMAGE_SIZE=336
USE_REMOTE_MODEL=false # keep it false
NUM_CLASSES=7
DEVICE=cpu # cpu or cuda

# ── Ports ─────────────────────────────────────
API_PORT=8000          # FastAPI backend
FRONTEND_PORT=7500     # frontend HTML server
MLFLOW_PORT=5001       # mlflow server (serve.sh)
PROMETHEUS_PORT=9090   # prometheus
GRAFANA_PORT=3005      # grafana
ALERTMANAGER_PORT=9093 # alertmanager
NODE_EXPORTER=9182     # node_exporter
MONGODB_PORT=27017     # mongodb
MONGODB_EXPORTER_PORT=9216 
PUBLIC_API_URL=http://localhost:8000
USER_MANUAL_URL=XXXXXXXXXXXXXXXX

# ── MongoDB ───────────────────────────────────
# for Docker: mongodb service resolved via docker network
# for local MONGO_URI=mongodb://localhost:27017
MONGO_URI=XXXXXXXXXXXXXXXX
MONGO_DB=XXXXXXXXXXXXXXXX

# ── Gmail App Password (OTP emails) ───────────
# Get from: myaccount.google.com > Security > App passwords
GMAIL_USER=XXXXXXXXXXXXXXXX
GMAIL_APP_PASS=XXXXXXXXXXXXXXXX


# ── Alertmanager Gmail SMTP ───────────────────
ALERT_EMAIL_FROM=XXXXXXXXXXXXXXXX
ALERT_EMAIL_USER=XXXXXXXXXXXXXXXX
ALERT_EMAIL_PASS=XXXXXXXXXXXXXXXX

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM=XXXXXXXXXXXXXXXX
SMTP_TO=XXXXXXXXXXXXXXXX
SMTP_USERNAME=XXXXXXXXXXXXXXXX
SMTP_AUTH_PASSWORD=XXXXXXXXXXXXXXXX

# ── JWT Auth ──────────────────────────────────
JWT_SECRET_KEY=XXXXXXXXXXXXXXXX
JWT_EXPIRE_MINUTES=60

# ── Airflow ────────────────────────────────────
AIRFLOW__CORE__FERNET_KEY=XXXXXXXXXXXXXXXXXXX
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_PORT=8080
AIRFLOW_PROJECT_ROOT=XXXXXXXXXXXXXXXX