DAGSHUB_USERNAME=******
DAGSHUB_PASSWORD=************

MLFLOW_TRACKING_URI=http://127.0.0.1:5001
MLFLOW_TRACKING_USERNAME==******
MLFLOW_TRACKING_PASSWORD=************************

MODEL_PATH=outputs/models/best_model_cpu.pth
MODEL_NAME=***********
IMAGE_SIZE=224
USE_REMOTE_MODEL=false # true or false
NUM_CLASSES=7
DEVICE=cpu # cpu or cuda

API_PORT=XXXX          # FastAPI backend
FRONTEND_PORT=XXXX     # frontend HTML server
PUBLIC_API_URL=http://localhost:XXXX
USER_MANUAL_URL=https://drive.google.com/file/d/1UxaHZKqV1pDoFBr4fLN6avCT7tp-c0ay/view
MLFLOW_PORT=XXXX       # mlflow server (serve.sh)
PROMETHEUS_PORT=XXXX   # prometheus
GRAFANA_PORT=XXXX      # grafana
ALERTMANAGER_PORT=XXXX # alertmanager
NODE_EXPORTER=XXXX     # node_exporter
MONGODB_PORT=XXXX     # mongodb
MONGODB_EXPORTER_PORT=XXXX 

MONGO_URI=mongodb://localhost:XXXX
MONGO_DB=********

GMAIL_USER=you_email@example.com
GMAIL_APP_PASS=************

# smtp credentials
ALERT_EMAIL_FROM=you_email@example.com
ALERT_EMAIL_USER=you_email@example.com
ALERT_EMAIL_PASS=************
SMTP_USERNAME=you_email@example.com
SMTP_AUTH_PASSWORD=************

JWT_SECRET_KEY=********
JWT_EXPIRE_MINUTES=60
